.App {
  display: flex;
  flex-direction: column;
}

.App a {
  text-decoration: none;
  color: #ff6600;
}

.App a:hover {
  text-decoration: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vh;
}

.App-header {
  flex: .2;
  text-align: center;
  background-color: #222;
  padding: 8px;
  color: #fff;
}

.App-content {
  flex: .7;
  padding: 0 50px;
}

.App-footer {
  flex: .1;
  font-size: 0.9em;
  font-style: italic;
  background-color: #000;
  color: #fff;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-InputPanel {
  flex: .5 1 50%;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.App-InputPanel .App-Word {
  flex: .1;
}

.App-InputPanel .App-AttemptsLeft {
  flex: .1;
}

.App-InputPanel .App-VirtualKeyboard {
  flex: .8;
}

.App-InputPanel .App-GameWin {
  flex: .8;
  font-weight: 600;
  font-size: 1.3em;
}

.App-InputPanel .App-GameOver {
  flex: .8;
  font-weight: 600;
  font-size: 1.3em;
}

.App-Hangman {
  flex: .5 1 50%;
  margin-top: -80px;
}

.App-Restart > button {
  border-radius: 8px;
  padding: 6px 12px;
  background: linear-gradient(to bottom, #ff6600 0%, #ff6600 100%);
  font-weight: 300;
  font-size: .6em;
  border: none;
  color: #fff;
  cursor: pointer;
}

.App-Restart > button:focus {
  outline: none;
}

.App-Restart > button:active {
  box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.App-Restart > button:hover {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to bottom, #000 0%, #000 100%);
}

.App-SideBySide {
  display: flex;
  flex-wrap: wrap;
}
