.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App a {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.2s ease;
}

.App a:hover {
  color: var(--tile-hover);
}
